

<h2 class="mt-2 ml-2">Lista de Productos</h2>
<div class="mt-5 mb-5">

  <table #dataTable datatable [dtOptions]="dtOptions" [dtTrigger]="dtTrigger" class="table table-striped">
    <thead>
      <tr>
        <th>ID</th>
        <th>Titulo</th>
        <th>Categoria</th>
        <th>Descripcion</th>
        <th>Imagen</th>
        <th>Rate</th>
        <th>count</th>
        <th>Precio</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let product of products">
        <td>{{ product.id }}</td>
        <td>{{ product.title }}</td>
        <td>{{ product.category }}</td>
        <td>{{ product.description }}</td>
        <td>
          <button (click)="mostrarImagen(product.image)">Ver producto</button>
        </td>
        <td>{{ product.rating.rate }}</td>
        <td>{{ product.rating.count }}</td>
        <td>{{ product.price }}</td>
      </tr>
    </tbody>
    <tfoot>
      <tr>

        <button class="btn btn-info bg-info" *ngIf="consultaRealizada" (click)="guardarPdf()">PDF</button>
        <button *ngIf="consultaRealizada" (click)="calcularSumaTotal()" class="btn btn-info bg-success">Calcular Suma Total</button>

      </tr>
    </tfoot>
  </table>
</div>
<p *ngIf="!products">Cargando datos...</p>

<button *ngIf="!consultaRealizada" (click)="consultarDatos()">Consultar</button>







